.card {
    width: 20rem;
    
    margin-left: 40px;
    margin-bottom: 40px !important;
    justify-content: center;
}

.card-header{
    /* background-color: #3b4146; */
    background-color: #53595e;
    color: white;
}
